<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>jscad</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/container.css') }}">
  <script src="{{ url_for('static', filename='js/svg.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/svg.panzoom.js') }}"></script>
  <script src="{{ url_for('static', filename='js/svg.select.min.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script> -->
  <script defer src="{{ url_for('static', filename='js/control.panel-0.01.js') }}"></script>
</head>
<body>
  <header>
    <h1>jscad</h1>
    <nav class="maintab">
      <ul class="tabmenu">
        <li>
          <a>File</a>
          <ul class="submenu" style="display:none">
            <li><a>New</a></li>
            <li><a>Open...</a></li>
            <li><a>Close</a></li>
            <li><a>Close All</a></li>
            <li><a>Save</a></li>
            <li><a>Save As...</a></li>
            <li><a>Import</a></li>
            <li><a>Export</a></li>
            <li><a>Print</a></li>
            <li><a>Print Preview</a></li>
            <li><a>Recent Files</a></li>
            <li><a>Exit</a></li>
          </ul>
        </li>
        <li>
          <a>Edit</a>
          <ul class="submenu" >
            <li><a>Undo</a></li>
            <li><a>Redo</a></li>
          </ul>
        </li>
        <li>
          <a>View</a>
          <ul class="submenu">
            <li><a>comming soon</a></li>
            <li><a>comming soon</a></li>
          </ul>
        </li>
        <li>
          <a>Tool</a>
          <ul class="submenu">
            <li><a>comming soon</a></li>
            <li><a>comming soon</a></li>
          </ul>
        </li>
        <li>
          <a>Macro</a>
          <ul class="submenu">
            <li><a>comming soon</a></li>
            <li><a>comming soon</a></li>
          </ul>
        </li>
        <li>
          <a>Widow</a>
          <ul class="submenu">
            <li><a>comming soon</a></li>
            <li><a>comming soon</a></li>
          </ul>
        </li>
        <li>
          <a>help</a>
          <ul class="submenu">
            <li><a>comming soon</a></li>
            <li><a>comming soon</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <article>
      <h2>tool menue</h2>
      <li>new sketch</li>
      <li>messure</li>
      <li>fit screen</li>
      <li>read file</li>
    </article>
    <article>
      <h2>draw menu</h2>
      <section>
        <h3>draw</h3>
        <li>line</li>
        <li>polyline</li>
        <li>circle</li>
        <li>rectangle</li>
        <li>point</li>
      </section>
      <section>
        <h3>edit</h3>
        <li>filet</li>
        <li>chamfer</li>
        <li>copy</li>
        <li>move</li>
        <li>divide</li>
      </section>
      <section>
        <h3>dimensions</h3>
        <li>general</li>
        <li>vertical</li>
        <li>horizontal</li>
        <li>parallel</li>
        <li>right angle</li>
        <li>angle</li>
      </section>
      <section>
        <h3>constrain</h3>
        <li >vertical</li>
        <li>horizontal</li>
        <li>parallel</li>
        <li>right angle</li>
        <li>coincident</li>
      </section>
      <section>
        <h3>general</h3>
        <li>grid</li>
      </section>
    </article>
  </main>
  <footer>
    <small>Copyright July 2017 jscad assosiation</small>
    <li>coordinate x, coordinate y</li>
  </footer>
  <!-- <div class="container">
    <div class="item box-big1">A</div>
     <div class="item">B</div>
     <div class="item">C</div>
     <div class="item">D</div>
     <div class="item">E</div>
     <div class="item box-big2">F</div>
     <div class="item box-big3">G</div>
     <div class="item">H</div>
     <div class="item">I</div>
     <div class="item">J</div>
     <div class="item box-big4">K</div>
  </div>
    <div id="drawing"></div> -->
</body>
</html>
