body{
  margin:0;
  overflow-x:hidden;
  overflow-y:hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  height: 100px;
  background: orange;
}

main {
  display: flex;
  flex-direction: row;
  flex:1;
}

aside {
  width: 150px;
  background: blue;
  padding:0;
}
aside > ul {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding:0;
}
aside > ul > input {
  margin: 10px;
  width: 120px;
}
article {
  flex: 1;
  display:flex;
  /*border: 1px solid black;*/
  margin: 5px;
  padding:5px;
}
article > minijscad-test {
  margin:0;
  padding:0;
}
footer {
  height: 20px;
  background: gray;
}
